<section class="content-header">
  <h1>

  </h1>
</section>


<section class="content">

  <div class="row">
      <div class="col-xs-12">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-home"></i>

            <h3 class="box-title">Bread &amp; Brakery</h3><span class="pull-right"><i class="fa fa-star"></i> 4.5</span>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-sm-3 col-xs-12">
              <img class="box-img-detail" src="assets/img/restaurants/breadbakery.png" />
            </div>

            <dl class="col-sm-9 col-xs-12">
              <dt>Categoria</dt>
              <dd>Padaria</dd>
              <dt>Quem somos</dt>
              <dd>A Bread &amp; Brakery tem 40 anos de mercado. Fazemos os melhores doces e pães. Compre e confira.</dd>
              <dt>Horários</dt>
              <dd>Funciona de segunda à sexta, de 8h às 23h</dd>
            </dl>
          </div>
          <!-- /.box-body -->
          <div class="box-footer detail-footer">
          <a class="pull-left detail-active" href="detail-restaurant.html">
              Menu
          </a>
          <a class="pull-right" href="detail-restaurant-reviews.html">
              Avaliações
          </a>
        </div>
        </div>
      </div>
      <!-- /.col-xs-12 -->

  </div>


  <div class="row">
    <mt-menu></mt-menu>      
  </div>

</section>